domain: cryptoddns.net
@@@@@@@
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type"  content="text/html; charset=utf-8"/>
		<meta name="viewport"            content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" type="text/css" href="/style.css"/>
		{{ if .WATCHMODE }}<script src="/live.js"></script>{{ end }}
		<title>{{ html .title }}</title>
	</head>
	<body>
		<article>
			{{ if .title }}<h1>{{ html .title }}</h1>{{ end }}
			{{ .HTML_CONTENT }}
		</article>
		<hr />
		<div class="contact"><a href="https://{{ .domain }}">{{ .domain }}</a></div>
	</body>
</html>
